@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

body {
  background-color: #000;
  color: #BBB;
  font-size: 1.2em;
  font-family: roboto, sans serif;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #333; }

.container {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.right {
    width: 25%;
    align-self: flex-start;
}

.left {
    width: 75%;
}